:root {
  --clr-prim1: hsl(257, 40%, 49%);
  --clr-prim2: hsl(300, 69%, 71%);
  --clr-prim3: hsl(0, 100%, 100%);
  --ff-headings: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;
  --spacer: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-prim1);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  color: var(--clr-prim3);
}
header,
section,
footer {
  padding: var(--spacer);
}
.logo {
  width: 50%;
}
.hero {
  width: 100%;
}
.info {
  text-align: center;
  margin-top: 4em;
}
h1 {
  font-family: var(--ff-headings);
  font-size: 1.6rem;
}
p {
  margin-top: 1em;
  font-family: var(--ff-body);
  color: hsla(0, 0%, 100%, 0.753);
  font-size: 1.05rem;
}

button {
  width: 70%;
  border-radius: 2em;
  border: 0;
  margin-top: 2em;
  padding: 1em;
  color: var(--clr-prim1);
  box-shadow: 0 0 1em hsl(0, 0%, 20%);
}
button:hover {
  background-color: var(--clr-prim2);
  color: var(--clr-prim3);
  cursor: pointer;
}

footer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.social-icons {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.fab {
  font-size: 1rem;
  padding: 0.5em;
  text-align: center;
  border: 1px solid var(--clr-prim3);
  border-radius: 50%;
}
.fab:hover {
  color: var(--clr-prim2);
  cursor: pointer;
  border-color: var(--clr-prim2);
}

.attribution {
  font-family: var(--ff-body);
  margin-top: 3em;
  font-size: 0.8rem;
}
.attribution a {
  color: var(--clr-prim2);
}

@media (min-width: 501px) {
  body {
    background-color: var(--clr-prim1);
    background-image: url(./images/bg-desktop.svg);
    padding: 0 calc(var(--spacer) + 1rem);
  }
  .logo {
    width: 15%;
  }

  section {
    margin-top: 2em;
    padding: 0 calc(var(--spacer) + 1rem);
    display: flex;
    justify-content: space-between;
  }

  .info {
    text-align: left;
    margin-left: 4em;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.05rem;
  }

  .hero {
    width: 60%;
  }

  button {
    width: 40%;
    font-size: 1.2rem;
  }

  footer {
    flex-direction: row-reverse;
  }

  .social-icons {
    width: 10%;
    justify-content: space-around;
  }

  .attribution {
    margin-top: 0;
  }
}
